/* ==========================================================================
   Import Less helper library
   ========================================================================== */
@import 'libs/helpless.less';
/* ==========================================================================
   Import your favorite Grid helper library
   ========================================================================== */
@import 'libs/frameless-plugin.less';

/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/*
 * All variables
 */

@white: #fff;
@black: #000;
@menu-height: 65px;
@menu-hover: #eaeaea;
@gray: #4a4c4c;
@orange: #d68a40;
@traiderColor: #7badc6;
@traiderColorHover: #4e98b0;
@newsColor: #1976a5;

/* ==========================================================================
   Font classes
   ========================================================================== */

@open-sans-light: 'OpenSansLight', sans-serif;
@open-sans-reg: 'OpenSansRegular', sans-serif;
@proxima-nova-bold: 'ProximaNovaBold', sans-serif;
@proxima-nova-reg: 'ProximaNovaRegular', sans-serif;
@proxima-nova-semibold: 'ProximaNovaSemibold', sans-serif;

.footer-font(@family: @open-sans-light, @size: .875em, @line-h: 1.7857em) {
  font: @size e('/') @line-h @family;
}
.desc {
  .footer-font(@proxima-nova-reg, .875em, 1.3571em);
  color: @black;
}
.desc-bold {
  .footer-font(@proxima-nova-semibold, 14px, 1.3571em);
  color: @black;
}
/* ==========================================================================
   Header classes
   ========================================================================== */
  
.f_header {
  .footer-font(@proxima-nova-bold, 1.125em, 20px);
    .uppercase;
  margin: 20px 0;
  color: @black;  
}  
.s_header {
  .footer-font(@proxima-nova-bold, .875em, 20px);
  .uppercase;
  margin: 20px 0;
  color: @black;  
}  
  
/* ==========================================================================
   Usable classes
   ========================================================================== */

.transition(@transTime: .3s) {
  transition: all @transTime ease;
  -webkit-transition: all @transTime ease;
  -moz-transition: all @transTime ease;
  -o-transition: all @transTime ease;
  -ms-transition: all @transTime ease;
}

.heightWline(@height) {
  line-height: @height;
  height: @height;
}

.noneOutline {
  outline: 0 none;
  &:hover { outline: 0 none; }
  &:active { outline: 0 none; }
  &:focus { outline: 0 none; }
  &::-moz-focus-inner { outline: 0 none; }
}

.borderRadius (@radius: 3px) {
  border-radius: @radius;
  -webkit-border-radius: @radius;
  -moz-border-radius: @radius;
}

.rotate (@deg) {
  transform:rotate(@deg);
  -moz-transform:rotate(@deg);
  -webkit-transform:rotate(@deg);
  -o-transform:rotate(@deg);
  -ms-transform:rotate(@deg);
}

/* ==========================================================================
   Helper classes
   ========================================================================== */
  
.uppercase() {
  text-transform: uppercase;
}
.mid_block(@width: 980px) {
  width: @width;
  margin: 0 auto;
}

.gen_list {
  .gen_list-item {    
    .desc;
    position:relative;
    margin: 0 0 1em;
    
    &:before {
      content: "■";
      position: absolute;
      top: 0;
      right: 104%;
      font-size: .7em;
      color: @orange;
    }
  }
}

.tick {
  display: inline-block;
  width: 25px;
  height: 10px;
  background: url(../img/tick.png) no-repeat center center;
}
.minus {
  font-weight: 700;
  margin: 0 0 0 5px;
}

.our-link {
	color: #1976a5;
	text-decoration: underline;
	
	&:hover { text-decoration: none; }
}

.traiderLink {
	.noneOutline;
	
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 20px;
	height: 200px;
	text-decoration: none;
	color: @black;
	display: block;
	
	span {
		display: block;
	}
}

.traiderLi {
	width: 100%/3;
	float: left;
	
	&:hover { background: @traiderColorHover; }
}

.whiteBoldLink {
	line-height: normal;
    display: inline-block;
    vertical-align: middle;
    font-family: 'ProximaNovaBold';
    color: @white;
    text-decoration: none;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    display: inline-block;
}

.button(@display: block) {  
  .noneOutline;
  .borderRadius;
  .footer-font(@open-sans-reg, 14px, 2.1428em);
  display: @display;
  padding: 0 15px;
  color: @white;
  text-decoration: none;
  background: @orange;
  border: none;
  
  &:hover { background: #e2730a; }
  &:active { box-shadow: inset 0px 0px 10px rgba(0,0,0,0.5); }
}

.button-blue(@display: block) {  
  .noneOutline;
  .borderRadius;
  .footer-font(@open-sans-reg, 14px, 2.1428em);
  display: @display;
  padding: 0 15px;
  color: @white;
  text-decoration: none;
  background: #0092b7;
  border: none;
  
  &:hover { background: #007694; }
  &:active { box-shadow: inset 0px 0px 10px rgba(0,0,0,0.5); }
}

.placeholder {
	&::-webkit-input-placeholder {
	   color: #b5b9bb;
	   .footer-font(@open-sans-reg, 13px, normal);
	}
	 
	&::-moz-placeholder {
	   color: #b5b9bb;
	   .footer-font(@open-sans-reg, 13px, normal);
	}
}

.ourInput(@width: 100%) {
	border: 1px solid #c4c7c9;
	margin-bottom: 15px;
	
	input {
		border: 0 none;
		height: 30px;
		padding-left: 5px;
		.placeholder;
		width: 97%;
		.noneOutline;
	}
	
	textarea {
		border: 0;
		width: 100%-5px;
		padding-left: 5px;
		padding-top: 5px;
		resize: none;
		height: 100px;
		width: 97%;
		.placeholder;
		.noneOutline;
	}
}

.wrappDiv {
	&:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
	}
}

.small-title {
	.footer-font(@proxima-nova-bold, 14px, normal);
	.uppercase;
	display: block;
}

/* ==========================================================================
   Global styles and resets
   ========================================================================== */

nav, ul, li {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

body {
  min-width: 980px;
}

.wrapper.index-wrapper {
  background: url('../img/back-main.jpg') no-repeat;
  background-size: 1920px auto;
  background-position: center top;
}
.wrapper {
	.mid_block();	

  background: #8ca7bb;  
  min-width: 980px;
  max-width: 1920px;
  width: 100%;
}

header {
  width: 980px;
  margin: 0 auto;
}

/*
 * Top block of header
 */

.header-top {
  padding-top: 40px;
  padding-bottom: 15px;
  
  .logo-div {
  	.noneOutline;
  	
  	display: block;
    float: left;
    width: 261px;
    height: 48px;
    background: url('../img/header/logo.png') no-repeat;
  }
  .lang-div {
    float: right;
    position: relative;
  	width: 160px;
    margin-top: 6px;
  	
  	.search {
  		float: left;
  		margin-top: 8px;
  		
  		.search-img {
  			float: left;
  			position: relative;
  			z-index: 1;
  		}
  		
  		.lang-ul {
  			.footer-font(@open-sans-reg, 14px, normal);
  			.uppercase();
  			margin-left: 20px;
  			margin-top: -3px;
  			float: left;
  			cursor: pointer;
  			position: relative;
  			width: 35px; 			
  			
  			.option-lang {
  				.transition(.3s);
  				position: absolute;
  				max-height: 0px;
  				overflow: hidden;
  			}
  			
  			.lang-triangle {
  				.transition(.3s);
  				
  				position: absolute;
  				width: 0;
  				height: 0;
  				left: 22px;
  				top: 9px;
  				border-left: 3px solid transparent;
  				border-right: 3px solid transparent;
  				border-top: 3px solid @black;
  			}
  			
  			.lang-triangle.lang-triangle-active {
  				.rotate(180deg);
  			}
  		}
  	}
  	
  	.sign {
  		float: right;
  	}
  }
}

.sign-up {
  .button;
}

.product-dl {
  .button(inline-block);
  margin: 40px 0 0;
}

.sign-up-open {
	.transition(.5s);
	position: absolute;
	width: 980px;
	left: 50%;
	margin-left: -490px;
	z-index: 3;
	background: @traiderColor;
	top: 35px;
	overflow: hidden;
	max-height: 0px;
	opacity: 0;
		
	ul {
		
		li {
			.traiderLi;
			
			a {
				.traiderLink;
				height: 300px;
			}
		}
	}
}

.sign-close {
	right: 10px;
	top: 12px;
	height: 20px;
	width: 20px;
	position: absolute;
	cursor: pointer;
	
	.sign-close-one {
		.rotate(45deg);
		
		top: 3px;
		left: 10px;
		position: absolute;
		height: 15px;
		width: 1px;
		background: #577a8c;
	}
	
	.sign-close-two {
		.rotate(-45deg);
		
		top: 3px;
		left: 10px;
		position: absolute;
		height: 15px;
		width: 1px;
		background: #577a8c;
	}
}

/*
 * Header Navigation
 */

.header-nav {
  
  nav {
    width: 100%;
    background: @white;
    border-top: 1px solid #eaecec;
    height: @menu-height;
    z-index: 2;
    
    ul {
      text-align: center;
    
      li {
        .transition(.3s);
        
        position: relative;
        display: inline-block;
        &:hover .header-sub-menu { opacity: 1; max-height: 500px; }
        &:hover { background: @menu-hover; }
        
        a {
          .heightWline(@menu-height);
          
          padding-left: 30px;
          padding-right: 30px;
          white-space: nowrap;
          font-family: 'OpenSansRegular';
          font-size: 14px;
          color: @black;
          display: inline-block;
          text-decoration: none;
          
        }
      } 
    }
  }
  
  .shadow {
    width: 1022px;
    height: 39px;
    background: url('../img/header/shadow.png') no-repeat center center;
    position: relative;
    left: 50%;
    margin-left: -511px;
    z-index: 1;
  }
  
  .header-sub-menu {
    .transition(.5s);
    
    position: absolute;
    opacity: 0;
    max-height: 0px;
    overflow: hidden;
    top: @menu-height;
    left: 0;
    text-align: left;
    background: @menu-hover;
    z-index: 2;
    padding-top: 5px;
    padding-bottom: 5px;
        
    li {      
      float: none;
      display: block;
      &:hover a { color: #1976a5; }
      
      a {
        .transition(.15s);
        .heightWline(30px);
        
        font-family: 'OpenSansLight';
        font-size: 13px;
        
      }
    }
  }
}


/*
 * Main menu
 */

.main-menu {
  position: relative;
  width: 100%;
  min-width: 980px;
  height: 77px;
  background: url('../img/menu/back.jpg');
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.5);
  z-index: 2;
  
  ul {
    width: 980px;
    margin: 0 auto;
    
    li {
      line-height: 77px;
      height: 77px;
      background: url('../img/menu/option.jpg');
      width: 20%;
      float: left;
        
      &:hover { background: url('../img/menu/hover.jpg'); }
      &:active { background: url('../img/menu/active.jpg'); }
      
      a {
        .transition(.3s);
      
        .whiteBoldLink;
        
      }
    }
  }
}



/*
 * Search IMG
 */

.search-img {
	cursor: pointer;
	position: relative;
	
	.search-main {
		.borderRadius(8px);
		
		width: 8px;
		height: 8px;
		border: 2px solid @black;
		
	}
	
	.search-line {
		.borderRadius(8px);
		.rotate(45deg);
		
		position: relative;
		top: -2px;
		left: -2px;
		width: 1px;
		height: 5px;
		border: 1px solid @black;
		background: @black;
	}
}

.search-open {
	position: absolute;
	right: 140px;
	top: 3px;
	text-indent: -9999px;
	
	.search-input {
		.transition(.2s);
		.placeholder;
		width: 0;
		.footer-font(@proxima-nova-reg, 14px, normal);
		height: 18px;
		padding-left: 5px;
		
	}
}

/*
 * Slider
 */

.fotorama-cont {
  .mid_block();
  
  background: url(../img/back-man.png) no-repeat 630px bottom;
}

.slide-item {
  padding-left: 40px;
  
  p {
    font-family: 'ProximaNovaBold';
    font-size: 29px;
    text-transform: uppercase;
  }
  
  li {
    font-family: 'ProximaNovaRegular';
    font-size: 19px;
    line-height: 40px;
    
    &:before {
      content: " ";
      width: 7px;
      height: 7px;
      background: @orange;
      display: inline-block;
      margin-right: 10px;
      margin-bottom: 3px;
    }
  }
}

.slider-arrow {
  position: relative;
  height: 29px;
  cursor: pointer;
  width: 18px;
  margin-top: 120px;
  
  .top-part {
    position: absolute;
    top: 0;
    left: 8px;
    width: 1px;
    height: 15px;
    background: @white;
  }
  
  .bottom-part {  
    position: absolute;
    top: 10px;
    left: 8px;
    width: 1px;
    height: 15px;
    background: @white;
  }
}

.left-arrow {
  float: left;
  margin-left: 50px;

  .top-part {
    .rotate(45deg);
  }
  
  .bottom-part {
    .rotate(-45deg);
  }
}

.right-arrow {
  float: right;
  margin-right: 50px;

  .top-part {
    .rotate(-45deg);
  }
  
  .bottom-part {
    .rotate(45deg);
  }
}

/*
 * Trdaiders section
 */

section.traiders {
	position: relative;
	background: @traiderColor;
	overflow: hidden;
	z-index: 1;
	
	ul {
		.mid_block;
		
		li {
			.traiderLi;
			
			.traider-link {
				.traiderLink;
				
			}
		}
	}
}

/*
 * Normal block
 */

section.normal {
	.wrappDiv;

	background: @white;
}

.main-desc {
	.mid_block(920px);
	padding-bottom: 80px;
	
	.main-desc-title {
		.footer-font(@proxima-nova-bold, .875em, 2.3571em);
		text-transform: uppercase;
	}
	
	.main-desc-text {
		.footer-font(@proxima-nova-reg, 12px, 20px);
		
		a {
			.our-link;
		}
	}
}

/* ==========================================================================
   Section product
   ========================================================================== */
  .product {
    .mid_block( 980px - 64px );
    padding: 0 2em 55px;
    .meta-trader {
      width: 80%;
      float: left;
    }
    .benefits {
      width: 20%;
      float: left;
      .s_header {
        margin: 20px 0 18px;
      }
    }
  }



/*
 * REGISTRATION
 */

.account-choose {
	.mid_block;
	overflow: hidden;
	background: @traiderColor;
	box-shadow: 0 24px 50px rgba(0, 0, 0, 0.20);
	
	.account-ul {
		
		.account-li {
			.traiderLi;
			.noneOutline;
			
			.account-choose-a {
				.whiteBoldLink;
				.noneOutline;
				
				text-shadow: 3px 2px 0px rgba(78, 152, 176, 1);
				line-height: 65px;
				
			}
			
			.account-choose-a.active {
				background: @traiderColorHover;
			}
		}
	}
}

.account-block, {
	.mid_block;
	overflow: hidden;
	
	.account-div {
		display: none;
		
		.account-in-div {
			width: 100%/3;
			float: left;
			
			.account-div-cont {
				padding-left: 40px;
				padding-right: 40px;
				padding-top: 40px;
				
				.gen_list-item {
					margin-left: 17px;
				}
			}
		}
	}
}

.reg-input {
	.ourInput;
}

.account-div-cont {
	.reg-button {
		.button;
		
		float: right;
	}
}

.account-div {
	.wrappDiv;
	padding-bottom: 20px;
}

.account-div[data-type=demo] {
	padding: 0;
	height: 510px;
	background: url(../img/demo-people.png) no-repeat right bottom rgba(0, 0, 0, 0);
}

.download-button {
	.button;
	width: 100%;
	text-align: center;
	margin-top: 15px;
}

.download-button-blue {
	.button-blue;
	width: 100%;
	text-align: center;
	margin-top: 15px;
}

/*
 * ABOUT PAGE
 */

.about {
	.mid_block;
	.wrappDiv;
	padding-top: 20px;
	padding-bottom: 60px;
	
	.about-div {
		width: 100%/3;
		float: left;
		
		.about-div-cont {
			padding-left: 40px;
			padding-right: 40px;
			
			.gen_list-item {
				font-size: 1em;
				margin-left: 17px;
				line-height: normal;
			}
		}
	}
	
	.fotorama {
		.mid_block(900px);
		margin-top: 80px;
		
	}
}

/*
 * PRESS ROOM
 */

.news {
	.mid_block;

	.news-left-div {
		width: 30%;
		float: left;
		
		.news-link {
			display: block;
			height: 27px;
		}
	}
	
	.news-right-div {
		width: 70%;
		float: left;
	}
	
	.news-in {
		padding: 40px 40px 40px 40px;
		
		.news-one-left {
		
			margin-top: 10px;
			
			.news-left-title {
			
				font-size: 14px;
			}
		}
		
		.news-link {
			.footer-font(@proxima-nova-reg, 14px, normal);
			
			color: @newsColor;
			text-decoration: none;
		}
		
		.news-item {
			margin-bottom: 40px;
			
			.f_header {
				margin-bottom: 0;
			}
		
			.news-date {
				
				font-size: 10px;
				color: @newsColor;
				text-decoration: none;
			}
			
			.news-text {
				
				font-size: 14px;
				margin-top: 10px;
				margin-bottom: 10px;
				color: #202020;
				
				a {
					.news-link;
				}
			}
		}
	}
}

.news-pages {
	a {
		
		color: @newsColor;
		margin: 0 5px 0 5px;
		.footer-font(@proxima-nova-reg, 14px, 2.3571em);
		text-decoration: none;
	}
}

/*
 * STATIC PAGE
 */

.static {
	.mid_block;
	
	.static-title {
		padding: 30px 0 0 40px;
	}

	.static-block {
		width: 50%;
		float: left;
	
		.static-block-in {
			padding: 5px 40px 40px 40px;
			
			.static-block-title {
				.small-title

			}
			
			.gen_list-item {
				text-indent: 15px;
				font-size: 14px;
				
				&::before {
					left: -15px;
				}
			}
			
			p {
				margin: 0 0 30px 0;
			}
		}
	}
	
	.static-img {
		.mid_block(900px);
		display: block;
		margin-bottom: 30px;
			
	}
}


/*
 * CONTACTS PAGE
 */

.contacts {
	.mid_block;
	
	.contacts-left-block {
		width: 65%;
		float: left;
	
	}
	
	.contacts-right-block {
		width: 35%;
		float: left;
	}

	.contacts-block-in {
		padding: 40px 40px 40px 40px;
		
		.contacts-block-title {
			.small-title
			
		}
		
		.contact-input {
			.ourInput;
			
		}
		
		button {
			.button;
			float: right;
			padding: 0 30px 0 30px;
		}
		
		.contact-table {
			margin: 30px 0 30px 0;
			
			tr {
				height: 30px;
			
				td {
					.footer-font(@proxima-nova-reg, 14px, normal);
					
					&:nth-of-type(1) {
						color: #808588;
						width: 180px;
					}
					
					&:nth-of-type(2) {
						color: @black;
					
					}
				}
			}
		}
	}
}

/*
 * DOWNLOADS
 */

.downloads {
	.wrappDiv;
	
	.downloads-cont {
		.mid_block;
		
		.downloads-left-block {
			width: 75%;
			float: left;
			
		}
		
		.downloads-right-block {
			width: 25%;
			float: left;			
		
		}
		
		.downloads-in-block {
			padding: 5px 40px 40px 40px;
			
			.desc {
				width: 600px;
			}
			
			.downloads-title {
				.footer-font(@proxima-nova-bold, 18px, normal);
				.uppercase;
				margin: 20px 0 20px 10px;
				
				&:before {
			      content: "■";
			      position: relative;
			      top: 0;
			      left: -10px;
			      margin-top: -1px;
			      font-size: 20px;
			      color: @orange;
			    }
			}
		}
	}
}

.background-other {
	background: url(../img/other-main.jpg);
	background-size: 100% auto;
	padding-top: 30px;
}

.downloads-white {
	.wrappDiv;
	background: @white;
	
	.downloads-white-cont {
		.mid_block;
		
		.downloads-one-left {
			width: 100%/3;
			
			.downloads-one-in {
				
				padding: 70px 40px 40px 40px;
			}
		}
	
		.download-button-blue {
			font-size: 13px;
			
		}
		
		.download-white-title {
			.f_header;
			font-size: 14px;
			
			&:before {
				content: "";
				position: relative;
				display: inline-block;
				height: 13px;
				width: 16px;
				background-size: 100% 100%;
				
			}
		}
		
		.white-title-windows {
			&:before {
				background-image: url(../img/downloads/windows.png);
			}
		}
		.white-title-windows8 {
			&:before {
				background-image: url(../img/downloads/windows8.png);
				width: 13px;
				height: 14px;
			}
		}
		.white-title-apple {
			&:before {
				background-image: url(../img/downloads/apple.png);
				width: 13px;
				height: 16px;
			}
		}
		.white-title-android {
			&:before {
				background-image: url(../img/downloads/android.png);
				width: 14px;
				height: 15px;
			}
		}
		
		.down-block {
			width: 100%/3;
			float: left;
			
			.downloads-in {
				padding: 5px 40px 40px 40px;
				
				.down-item {
					.wrappDiv;
					padding-bottom: 30px;
					
				}
			}
		}
	}
}

.top-white {
	background: url(../img/downloads/top-white.png) no-repeat right bottom;
	height: 390px;
}

.download-panel {
	padding-top: 20px;

	.download-panel-left {
		float: left;
	}
	
	.download-panel-right {
		float: right;
	}
	
	.down-link,.down-right-link {
		.our-link;
		text-decoration: none;
		.footer-font(@proxima-nova-reg, 13px, normal);
			
	}
	
	.down-right-link {
		color: #9a9a9a;
	}
}

.down-bottom {
	background-color: #e6eef0;
	
	.downloads-cont {
		.wrappDiv;
		
		height: 285px;
	
		background-image: url(../img/downloads/bottom.png);
		background-position: left bottom;
		background-repeat: no-repeat;
	}
	
	.downloads-one-right {
		float: left;
		width: 30%;
		padding-left: 70%;
		padding-top: 40px;
		
		.download-panel {
			padding-bottom: 25px;
			
		}
		
		.desc {
			width: auto;
		
		}
	}
}

.apple-link {
	width: 104px;
	height: 31px;
	background: url(../img/downloads/appstore.png);
	display: block;
	margin-top: 40px;
}

.android-link {
	height: 31px;
	width: 93px;
	background: url(../img/downloads/googleplay.png);
	display: block;
	margin-top: 40px;
}



/* ==========================================================================
   Section devices
   ========================================================================== */
  .devices {
    background: #7eb0c7;
    .devices-content {
      .mid_block;
      position: relative;
      height: 580px;
      padding: 55px 0;
      div {
        position: absolute;
      }
      .iphone {
        z-index: 3;
        top: 350px;
        right: 0;
        width: 144px;
        height: 252px;
        background: url(../img/iphone.png) no-repeat;
      }
      .ipad {
        z-index: 1;
        top: 183px;
        left: 0;
        width: 568px;
        height: 359px;
        background: url(../img/ipad.png) no-repeat;
      }
      .imac {
        z-index: 2;
        top: 126px;
        left: 175px;
        width: 809px;
        height: 459px;
        background: url(../img/mac.png) no-repeat;
      }
    }
  }
  
/* ==========================================================================
   Section table
   ========================================================================== */  
  .table {
    background: @white;
  }
  .table-container {
    .mid_block;
    padding: 55px 0;
    table {
      .footer-font(@proxima-nova-bold, .875em, 2.3571em);
      width: 100%;        
      tr {
        &:nth-child(2n+2) {
          background: #dcebf3;
        }
      }    
      th {
        .uppercase;
        padding: 0 0 0 24px;
        text-align: left;
      }
      td {        
        padding: 0 0 0 24px;
        font-family: @proxima-nova-reg;
      }
    }
  }
  
/* ==========================================================================
   Footer styles
   ========================================================================== */

.main-footer {
   padding: 55px 0 37px;
   background: #b5b9bb;     
}
.footer-content {
   position: relative;
   width: 980px;
   margin: 0 auto;  
   
   &:after {
       content: "";
       position: absolute;
       top: 0;
       right: 0;
       z-index: 0;       
       width: 252px;
       height: 46px;
       background: url(../img/footer-logo.png);
   }
   
   .ftr-top {  
        
       .ftr-links-list {
           .footer-font;
           position: relative;
           z-index: 1;
           float: left;
           width: 20.5%;
           .ftr-links-item{               
               a {
                   color: @gray;
                   text-decoration: none;
               }
               a:hover {
                   text-decoration: underline;
               }               
           }
           .list-head {
               font-family: @open-sans-reg;
           }      
       }
       .about-us {
           width: 18.5%;
       }
       .products {
           width: 15.5%;
       }
       .operations {
           width: 16%;
       }
     
   }
   .ftr-copyright {
     .footer-font(@family: @open-sans-reg);
     color: @black;
     margin: 50px 0 0;
   }
} 



/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
